h1 {
    color: blue;
    font-weight: bold;
    font-family: fantasy;


}

h2 {
    color: Orange;
    font-weight: bold;
    font-style: italic;
}
div {
  column-count: 1;
}

h3 {
    color: blue;
    font-weight: bold;
    font-style: normal;
}
img {
float:right;
}

.columns {
    width: 200px;
    float: left;
  }
