h1 {
    color: blue;
    font-weight: bold;
    font-family: fantasy;
    text-align: center;


}

h2 {
    color: Orange;
    font-weight: bold;
    font-style: italic;
}
div {
  column-count: 1;
}

h3 {
    color: blue;
    font-weight: bold;
    font-style: normal;
}
img {
float:none;
}

.columns {
    width: 200px;
    float: left;
  }

  body {background-color: green:
}

.boxed {
    border: 1px solid green ;
  }